<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>课程详情</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<iframe src="/users/navigation" style="width:100vw;height:145px;z-index: 100" frameborder="0" scrolling="no"></iframe>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">课程详情</h3>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-hover" >
                        <thead>
                        <tr>
                            <th>名称</th>
                            <td><%=courseName %></td>
                        </tr>
                        <tr>
                            <th>教师编号</th>
                            <td><%=teacherId%></td>
                        </tr>
                        <tr>
                            <th>开始时间</th>
                            <td><%=courseBeginTime%></td>
                        </tr>
                        <tr>
                            <th>结束时间</th>
                            <td><%=courseFinishTime%></td>
                        </tr>
                        <tr>
                            <th>时长</th>
                            <td><%=courseTime%></td>
                        </tr>
                        <tr>
                            <th>面向对象</th>
                            <td><%=objectOriented%></td>
                        </tr>
                        <tr>
                            <th >课程内容</th>
                            <td><%=courseContent%></td>
                        </tr>
                        <tr>
                            <th >参与学生</th>
                            <td><%=courseCount%></td>
                        </tr>
                        <tr>

                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="/javascripts/jquery.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>
