<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>课程详情</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <link href="/stylesheets/scroll-table.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%include navigation.ejs%>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title" style="display:inline-block">课程详情</h3>
                    <a href="/admin/courseDetailsEdit?courseId=<%=courseId%>" ><h3 class="panel-title" style="float:right">编辑</h3></a>
                </div>
                <div style="padding-left:30px;padding-bottom:30px">
                    <h2 style="display: inline-block;"><%=courseName%></h2> <h4 style="display: inline-block; margin-left:10px"><%=objectOriented%></h4>
                    <a href="/users/teacherDetails?teacherId=<%=teacherId%>"><h3><%=teacherName%></h3></a>
                    <h5> <%=courseDate%>   <%=beginTime%>-<%=finishTime%></h5>
                    <p ><%=courseContent%></p>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title" style="display:inline-block">学生列表</h3>
                    <a onclick="show()" class="add"><h3 class="panel-title" style="float:right">添加</h3></a>
                </div>
                <div id="light" class="white_content">
                        <%studentList.forEach(function (student) { %>
                        <%if(student.join==0){%>
                           <label class="btn btn-primary">
                               <input type="checkbox" class="checked" value="<%=student.studentName%>" name="<%=student.studentId%>"><%=student.studentName%>
                           </label>
                        <%} else {%>
                        <label class="btn btn-primary">
                               <input type="checkbox" value="<%=student.studentName%>" disabled="disabled"><%=student.studentName%>
                        </label>
                        <%}})%>
                    <button class="btn btn-default button" onclick="hide(),addStudent()">
                        确认添加
                    </button>
                </div>
                <div id="fade" class="black_overlay"></div>
                <!-- Table -->
                <div class="table-responsive"   style="padding-right:17px">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <!--<th>编号</th>-->
                            <th><div class="omit">姓名</div></th>
                            <th><div class="omit">学费</div></th>
                            <th><div class="omit">参与</div></th>
                            <th class="omit"><div class="omit">操作</div></th>
                            <!--<th>出勤</th>
                            <th>原因</th>
                            <!--<th>学生评价</th>
                            <th>学生意见</th>
                            <th>老师评价</th>
                            <th>老师评语</th>-->
                        </tr>
                        </thead>
                    </table>
                </div>
                <div  class="table-responsive"style="max-height: 40vh;overflow:scroll; overflow-x:hidden;">
                    <table  class="table table-hover" style="table-layout: fixed">
                        <tbody>
                        <% courseStudentList.forEach(function (item) {%>
                        <tr>
                            <td onclick="details('<%=item.userId%>')" class="selfStudyName"><div class="omit"><%=item.userName%></div></td>
                            <td><div class="omit"><%=item.cost%></div></td>
                            <td><div class="omit"><%=item.attend%></div></td>
                            <%if(item.attend==1){%>
                            <td>
                                <div class="btn btn-danger omit" title="<%=item.userId%>" onclick="takeOff(this)">请假</div>
                                <div class="btn btn-danger omit" title="<%=item.userId%>" onclick="unTakeOff(this)" disabled="disabled">销假</div>
                            </td>
                            <%}else{%>
                            <td>
                                <div class="btn btn-danger omit" title="<%=item.userId%>" onclick="" disabled="disabled">请假</div>
                                <div class="btn btn-danger omit" title="<%=item.userId%>" onclick="unTakeOff(this)">销假</div>
                            </td>
                            <%}%>

                            <!--<td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>-->
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
                <p id="hint"></p>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="/javascripts/jquery.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>

<script>
    function details(userId) {
        console.log("userId:"+userId)
        location.href="/users/studentDetails?studentId="+userId;
    }
    function show() {
        document.getElementById('light').style.display='block';
        document.getElementById('fade').style.display='block'
    }
    function hide() {
        document.getElementById('light').style.display='none';
        document.getElementById('fade').style.display='none';
    }
    function addStudent() {
        var checked=$(".checked");
        var courseId="<%=courseId%>";
        var s={courseId:courseId,data:[]};
        console.log("courseId:"+courseId);
        for(var i=0;i<checked.length;i++){
            if(checked[i].checked){
                s.data.push({studentId:checked[i].name});
                //s+="{"+checked[i].value+"}"+",";
            }
        }
        console.log("s:"+JSON.stringify(s));
        $.post('addStudent',s,function (ret) {
          console.log("ret:"+JSON.stringify(ret));
            if(ret.status){
             $("#hint").text(ret.desc);
             location.reload();
            }
            else{
                $("#hint").text(ret.desc);
            }
        })
    }
    function takeOff(obj) {
        var courseId=<%=courseId%>;
        var userId=obj.title;
        var attend=0;
        console.log("courseId:"+courseId);
        console.log("userId:"+userId);
        console.log("attend:"+attend);
        var data={
            courseId:courseId,
            userId:userId,
            attend:attend
        }
        $.post("takeOff",data,function (ret) {
            console.log("ret:"+JSON.stringify(ret));
            if(ret.status){
                //console.log(obj);
                obj.setAttribute("disabled","disabled");
                var x=$(obj).parent().children()[1];
//                  console.log("sss:"+x);
                $(x).attr("disabled",false);
//                obj.nextElementSibling.disabled=false;
//                $(obj).next().disabled=false;
            }
        })
    }
    function unTakeOff(obj) {
        var courseId=<%=courseId%>;
        var userId=obj.title;
        var attend=1;
        console.log("courseId:"+courseId);
        console.log("userId:"+userId);
        console.log("attend:"+attend);
        var data={
            courseId:courseId,
            userId:userId,
            attend:attend
        }
        $.post("unTakeOff",data,function (ret) {
            console.log("ret:"+JSON.stringify(ret));
            if(ret.status){
                obj.setAttribute("disabled","disabled");
                //obj.previousElementSibling.disabled=false;
//                $(obj).next()[0].disabled=false;
                var x=$(obj).parent().children()[0];
//                  console.log("sss:"+x);
                $(x).attr("disabled",false);
            }
        })
    }
</script>
</body>
</html>
