<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>课程详情</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<iframe src="/users/navigation" style="width:100vw;height:60px;z-index: 100" frameborder="0" scrolling="no"></iframe>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title" style="display:inline-block">课程详情</h3>
                    <a href="/admin/courseDetailsEdit?courseId=<%=courseId%>" ><h3 class="panel-title" style="float:right">编辑</h3></a>
                </div>
                <div style="padding-left:30px;padding-bottom:30px">
                    <h2 style="display: inline-block;"><%=courseName%></h2> <h4 style="display: inline-block; margin-left:10px"><%=objectOriented%></h4>
                    <a href="/users/teacherDetails?teacherId=<%=teacherId%>"><h3><%=teacherName%></h3></a>
                    <h5> <%=courseDate%>   <%=beginTime%>-<%=finishTime%></h5>
                    <p ><%=courseContent%></p>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title" style="display:inline-block">学生列表</h3>
                    <a href="/admin/courseDetailsEdit?courseId=<%=courseId%>" ><h3 class="panel-title" style="float:right">添加</h3></a>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-hover" >
                        <thead>
                        <tr>
                            <!--<th>编号</th>-->
                            <th>姓名</th>
                            <!--<th>出勤</th>
                            <th>原因</th>
                            <th>学费</th>-->
                            <!--<th>学生评价</th>
                            <th>学生意见</th>
                            <th>老师评价</th>
                            <th>老师评语</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <% studentList.forEach(function (item) {%>
                        <%if(item.join == 1){%>
                        <tr onclick="details('<%=item.studentId%>')">
                            <td><%=item.studentName%></td>
                            <!--<td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>-->
                        </tr>
                        <%}})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="/javascripts/jquery.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>

<script>
    function details(userId) {
        console.log("userId:"+userId)
        location.href="/users/studentDetails?studentId="+userId;
    }
</script>
</body>
</html>
