<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>已有课程</title>
  <!-- Bootstrap -->
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/video.css" rel="stylesheet">
  <link href="/stylesheets/scroll-table.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<%include navigation.ejs%>
<div class="main" height="80%">
  <div class="container">
    <div class="bs-example">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title" style="display:inline-block">课程列表</h3>
          <a href="/admin/addCourse" ><h3 class="panel-title" style="float:right">添加课程</h3></a>
        </div>
        <!-- Table -->
        <div class="table-responsive" style="padding-right:17px">
          <table class="table table-hover">
            <thead>
            <tr>
              <th><div class="omit">名称</div></th>
              <th><div class="omit">老师</div></th>
              <th><div class="omit">日期</div></th>
              <th><div class="omit">时间</div></th>
              <th><div class="omit">人数</div></th>
            </tr>
            </thead>
            </table>
          </div>
          <div  class="table-responsive"style="max-height: 40vh;overflow:scroll; overflow-x:hidden;">
            <table  class="table table-hover" style="table-layout: fixed">
            <tbody>
            <% futureCourse.forEach(function (item) {%>
            <tr onclick="details('<%=item.courseId%>')">
              <td><div class="omit"><%=item.courseName%></div></td>
              <td><div class="omit"><%=item.teacherName%></div></td>
              <td><div class="omit"><%=moment(item.courseDate).format("YYYY-MM-DD")%></div></td>
              <td><div class="omit"><%=item.beginTime%></div></td>
              <td><div class="omit"><%=item.courseCount%></div></td>
            </tr>
            <%})%>
            </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <h3 class="panel-title" style="display:inline-block">往期课程</h3>
        </div>
        <!-- Table -->
        <div class="table-responsive"  style="padding-right:17px">
          <table class="table table-hover">
            <thead>
            <tr>
              <th><div class="omit">名称</div></th>
              <th><div class="omit">老师</div></th>
              <th><div class="omit">日期</div></th>
              <th><div class="omit">时间</div></th>
              <th><div class="omit">人数</div></th>
            </tr>
            </thead>
          </table>
        </div>
        <div  class="table-responsive"style="max-height: 40vh;overflow:scroll; overflow-x:hidden;">
          <table  class="table table-hover" style="table-layout: fixed">
            <tbody>
            <% historyCourse.forEach(function (item) {%>
            <tr onclick="details('<%=item.courseId%>')">
              <td><div class="omit"><%=item.courseName%></div></td>
              <td><div class="omit"><%=item.teacherName%></div></td>
              <td><div class="omit"><%=moment(item.courseDate).format("YYYY-MM-DD")%> </div></td>
              <td><div class="omit"><%=item.beginTime%></div></td>
              <td><div class="omit"><%=item.courseCount%></div></td>
            </tr>
            <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<script>
  function details(courseId) {
    location.href="/admin/courseDetails?courseId="+courseId;
  }
</script>

</html>