<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>课程详情</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%include navigation.ejs%>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title" style="display:inline-block">自习详情</h3>
                </div>
                <div style="padding-left:30px;padding-bottom:30px">
                    <h2 style="display: inline-block;" id="hdate"><%=date%></h2>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title" style="display:inline-block">学生列表</h3>
                    <a onclick="show()"><h3 class="panel-title" style="float:right">添加</h3></a>
                </div>
                <div id="light" class="white_content">
                    <%student.studentList.forEach(function (student) { %>
                    <%if(student.join==0){%>
                    <label class="btn btn-primary">
                        <input type="checkbox" class="checked" value="<%=student.studentName%>" name="<%=student.studentId%>"><%=student.studentName%>
                    </label>
                    <%} else {%>
                    <label class="btn btn-primary">
                        <input type="checkbox" value="<%=student.studentName%>" disabled="disabled"><%=student.studentName%>
                    </label>
                    <%}})%>
                    <button class="btn btn-default selfStudyAdd" onclick="hide(),addSelfStudy()">
                        确认添加
                    </button>
                </div>
                <div id="fade" class="black_overlay"></div>

                <!-- Table -->
                <div class="table-responsive" style="padding-right:17px">
                    <table class="table table-hover" >
                        <thead>
                        <tr>
                            <!--<th>编号</th>-->
                            <th>姓名</th>
                            <th>消费</th>
                            <th>操作</th>
                            <!--<th>出勤</th>
                            <th>原因</th>
                            <th>学费</th>-->
                            <!--<th>学生评价</th>
                            <th>学生意见</th>
                            <th>老师评价</th>
                            <th>老师评语</th>-->
                        </tr>
                        </thead>
                    </table>
                </div>
                <div  class="table-responsive"style="max-height: 40vh;overflow:scroll; overflow-x:hidden;">
                    <table  class="table table-hover" style="table-layout: fixed">
                        <tbody>
                        <%if(student.length!=0){%>
                        <% student.forEach(function (item) {%>
                        <tr>
                            <td onclick="details('<%=item.userId%>')" class="selfStudyName"><%=item.userName%></td>
                            <td><%=item.cost%></td>
                            <!--<td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>-->
                            <td>
                                <div class="btn btn-danger omit" title="<%=item.userId%>" onclick="deleteSelfStudy(this)">删除</div>
                                <!--<div style="display:none;"></div>-->
                            </td>
                        </tr>
                        <%})%>
                        <%}else{%>
                        <p style="text-align: center ;padding-top:5px;">没有更多记录</p>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
            <p id="hint"></p>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="/javascripts/jquery.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>

<script>
    function details(userId) {
        console.log("userId:"+userId)
        location.href="/users/studentDetails?studentId="+userId;
    }
    function show() {
        document.getElementById('light').style.display='block';
        document.getElementById('fade').style.display='block'
    }
    function hide() {
        document.getElementById('light').style.display='none';
        document.getElementById('fade').style.display='none';
    }
   function addSelfStudy() {
        var checked=$(".checked");
       // var courseId=""
       var date=$("#hdate").text();
        var s={data:[],date:date};
        console.log("date:"+date);
        //console.log("courseId:"+courseId);
        for(var i=0;i<checked.length;i++){
            if(checked[i].checked){
                s.data.push({studentId:checked[i].name});
                //s+="{"+checked[i].value+"}"+",";
            }
        }
        console.log("s:"+JSON.stringify(s));
        $.post('addSelfStudy',s,function (ret) {
            console.log("ret:"+JSON.stringify(ret));
            if(ret.status){
                $("#hint").text(ret.desc);
                location.reload();
            }
            else{
                $("#hint").text(ret.desc);
            }
        })
    }
    function deleteSelfStudy(obj) {
        //console.log($(this));
        var ptr=$(obj).parent().parent();
        //console.log("ptr:"+ptr.html());
        var userId=obj.title;
        console.log("userId:"+userId);
        var date=$("#hdate").text();
        var data={userId:userId,date:date};
        console.log("data:"+JSON.stringify(data));
        $.post('deleteSelfStudy',data,function (ret) {
            console.log("ret:"+JSON.stringify(ret));
            if(ret.status){
                $('#hint').text(ret.desc);
               // location.reload();
                ptr.remove();
            }
            else{
                $("#hint").text(ret.desc);
            }
        })
    }
</script>
</body>
</html>
