<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生详情</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%include navigation.ejs%>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title"style="display: inline-block">学生详情</h3>
                    <a href="/users/studentListEdit?studentId=<%=detail.studentId%>"><h3 class="panel-title" style="float:right">编辑</h3></a>
                </div>
                <div style="margin-left:30px">
                    <h3 style="display: inline-block;"><%=detail.studentName%></h3>
                    <h4 style="display: inline-block;"><%=detail.phoneNumber%></h4><br>
                    <h5 style="display: inline-block;"><%=detail.studentSchool%></h5>
                    <h5 style="display: inline-block;"><%=detail.studentGrade%></h5>
                    <h6><%=detail.studentAddress%></h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">课程列表</h3>
                </div>
                <div class="table-responsive" style="padding-right: 17px">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <!--<th>编号</th>-->
                            <th>课程名称</th>
                            <th>老师姓名</th>
                            <th>课程时间</th>
                            <th>面向对象</th>
                            <!--<th>课程内容</th>-->
                            <th>学生人数</th>
                            <!--<th>操作</th>-->
                        </tr>
                        </thead>
                    </table>
                </div>
                <div  class="table-responsive"style="max-height: 80vh;overflow:scroll; overflow-x:hidden;">
                    <table  class="table table-hover" style="table-layout: fixed">
                        <tbody>
                        <%list.forEach(function (item1){%>
                        <tr onclick="details(<%=item1.courseId%>)">
                            <!--<td><%=item1.courseId%></td>-->
                            <td><%=item1.courseName%></td>
                            <td><%=item1.teacherName%></td>
                            <td><%=item1.courseTime%></td>
                            <td><%=item1.objectOriented%></td>
                            <!--<td><%=item1.courseContent%></td>-->
                            <td><%=item1.courseCount%>人</td>
                            <!--<td>
                                <a class="btn btn-primary" href="courseDetails?courseId=<%=item1.courseId%>">查看详情</a>
                            </td>-->
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->


<script src="/javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<script>
    function details(courseId) {
        location.href="/admin/courseDetails?courseId="+courseId;
    }
</script>
</body>
</html>
