<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生详情编辑</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body onload="show()">
<%include navigation.ejs%>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">学生详情编辑</h3>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="teacherid">手机号</label>
                                <div class="col-md-6" id="name">
                                    <input type="datetime" id="phoneNumber" class="form-control" value="<%=phoneNumber%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="teacherid">姓名</label>
                                <div class="col-md-6" id="name">
                                    <input type="text" id="studentName" class="form-control" value="<%=studentName%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="time">年龄</label>
                                <div class="col-md-6" id="name">
                                    <input type="text" id="studentAge" class="form-control" value="<%=studentAge%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="time">年级</label>
                                <div class="col-md-6" id="name">
                                    <input type="text" id="studentGrade" class="form-control" value="<%=studentGrade%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="time">学校</label>
                                <div class="col-md-6" id="name">
                                    <input type="text" id="studentSchool" class="form-control" value="<%=studentSchool%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">家庭住址</label>
                                <div class="col-md-6" id="name">
                                    <input type="text" id="studentAddress" class="form-control" value="<%=studentAddress%>">
                                </div>
                            </div>
                        </div>
                        <p style="margin:0;text-align:center;padding-top:50px;" id="hint"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<center>
    <button class="btn btn-default " onclick="studentListEdit()">确定修改</button>
</center>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<script>
    function show(){
        console.log("name:<%=studentName%>")
    }
    function studentListEdit() {
        var studentId="<%=studentId%>";
        var phoneNumber=$("#phoneNumber").val();
        var studentName=$("#studentName").val();
        var studentAge=$("#studentAge").val();
        var studentGrade=$("#studentGrade").val();
        var studentSchool=$("#studentSchool").val();
        var studentAddress=$("#studentAddress").val();
        var data={
            studentId:studentId,
            phoneNumber:phoneNumber,
            studentName:studentName,
            studentAge:studentAge,
            studentGrade:studentGrade,
            studentSchool:studentSchool,
            studentAddress:studentAddress,
        }
        console.log("data:"+JSON.stringify(data));
        if(studentId.length==0){$("#hint").text("用户ID不能为空");}
        else if(phoneNumber.length==0){$("#hint").text("手机号不能为空");}
        else if(studentName.length==0){$("#hint").text("用户名称不能为空");}
        else if(studentAge.length==0){$("#hint").text("年龄不能为空");}
        else if(studentGrade.length==0){$("#hint").text("年级不能为空");}
        else if(studentSchool.length==0){$("#hint").text("学校不能为空");}
        else if(studentAddress.length==0){$("#hint").text("家庭住址不能为空");}
        else{
            $.post("studentListEdit",data,function (data) {
                if (data.status) {
                    $("#hint").text(data.desc);
//                    window.open("studentlist");
                    location.reload();
                }
                else
                    $("#hint").text(data.desc);
            })
        }
    }
</script>
</body>
</html>
