<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生列表</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <link href="/stylesheets/scroll-table.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%include navigation.ejs%>
<div class="main" style="height:80vh">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline-block;">学生列表</h3>
                    <a href="/admin/register" ><h3 class="panel-title" style="float:right">添加学生</h3></a>
                </div>
                <!--<button onclick="show()">选择老师</button>
                <div id="light" class="white_content">
                    <form>
                        <input type="checkbox" name="vehicle" value="Bike">I have a bike<br>
                    </form>

                    <button class="btn btn-default" onclick="hide()">
                        确认添加
                    </button>
                </div>-->
                <!-- Table -->
                <div>
                    <table class="table table-hover" style="margin-bottom:0px">
                        <thead>
                        <tr style="padding-left:17px">
                            <!--<th>用户ID</th>-->
                            <!--<th>注册时间</th>-->
                            <th>姓名</th>
                            <!--<th>年龄</th>-->
                            <th>年级</th>
                            <!--<th>学校</th>-->
                            <!--<th>住址</th>-->
                        </tr>
                        </thead>
                        </table>
                    </div>

                        <div class="table-details"style="overflow:scroll;overflow-x:hidden;height:65vh;">
                            <table  class="table table-hover">
                            <tbody>
                            <%studentList.forEach(function (item){ %>
                            <tr onclick="details('<%=item.studentId%>')">
                                <!--<td><%=item.studentId%></td>-->
                                <!--<td><%=item.studentRegisterDate%></td>-->
                                <td><%=item.studentName%></td>
                                <!--<td><%=item.studentAge%></td>-->
                                <td><%=item.studentGrade%></td>
                                <!--<td><%=item.studentSchool%></td>-->
                                <!--<td><%=item.studentAddress%></td>-->
                                <!--<td>
                                    <a class="btn btn-success" href="studentListEdit?studentId=<%=item.studentId%>">编辑</a>
                                    <a class="btn btn-primary" href="studentListDetails?studentId=<%=item.studentId%>">查看详情</a>
                                </td>-->
                            </tr>
                            <%})%>
                            </tbody>
                            </table>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<script>
    function details(userId) {
        location.href="/users/studentDetails?studentId="+userId;
    }
</script>
</body>
</html>