<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>意见反馈</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<iframe src="/users/navigation" style="width:100vw;height:145px;z-index: 100" frameborder="0" scrolling="no"></iframe>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">意见反馈</h3>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>反馈ID</th>
                            <th>用户ID</th>
                            <th>用户名称</th>
                            <th>反馈时间</th>
                            <th>反馈内容</th>
                            <th>回复状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%suggestion.forEach(function (item){ %>
                        <tr>
                            <td><%=item.feedbackId%></td>
                            <td><%=item.userId%></td>
                            <td><%=item.userName%></td>
                            <td><%=item.feedbackTime%></td>
                            <td><%=item.feedback%></td>
                            <td><%=item.replyState%></td>
                            <td>
                                <a class="<%if(item.replyState == "已回复"){%>btn btn-info disabled<%}else{%>btn btn-success<%}%>" href="suggestionReply?feedbackId=<%=item.feedbackId%>">回复</a>
                            </td>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>