<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link href="/stylesheets/table.css" rel="stylesheet">
	<title>课程表</title>
</head>
<body>
<table id="syllabus" >
    <caption>
        <h2>课程表</h2>
    </caption>

    <%data.forEach(function (teacher) {%>
    <tr>
        <th class="teacher"><%=teacher.teacherName%></th>
        <%teacher.course.forEach(function (course) {%>
        <td>
            <%if(course.courseName != ""){%>
            <%=course.length%> <br/> （<%=course.grade%> <%=course.courseName%>） <br/>
            <p>
                <%-course.student %>
            </p>
            <%}%>
        </td>
        <%})})%>
    </tr>
</table>

<button onclick="send()">发送</button>
</body>
<script src="/javascripts/jquery.js"></script>
<script>
    function send() {
        console.log("send")
        $.post("getCourseMessage",{studentId:52},function (data) {
            console.log("data:"+JSON.stringify(data));
        });
    }
    </script>
</html>