<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教师列表</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%include navigation.ejs%>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title" style="display: inline-block">教师列表</h3>
                    <a href="/admin/registerTeacher" ><h3 class="panel-title" style="float:right;padding-top:0.5vh">添加老师</h3></a>
                </div>
                <!-- Table -->
                <div class="table-responsive" style="padding-right: 17px">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <!--<th>老师ID</th>-->
                            <th>姓名</th>
                            <!--<th>申请时间</th>-->
                            <!--<th>通过时间</th>-->
                            <th>课程</th>
                            <!--<th>个人简介</th>-->
                        </tr>
                        </thead>
                    </table>
                </div>
                <div  class="table-responsive"style="max-height: 80vh;overflow:scroll; overflow-x:hidden;">
                    <table  class="table table-hover" style="table-layout: fixed">
                        <tbody>
                        <%teacherList.forEach(function (item){ %>
                        <tr  onclick="details('<%=item.teacherId%>')">
                            <!--<td><%=item.teacherId%></td>-->
                            <td><%=item.teacherName%></td>
                            <!--<td><%=item.teacherCreateTime%></td>-->
                            <!--<td><%=item.teacherRegisterDate%></td>-->
                            <td><%=item.teacherGoodCourse%></td>
                            <!--<td><%=item.teacherSelfIntroduction%></td>-->
                            <!--<td>
                                <a class="btn btn-success" href="teacherListEdit?teacherId=<%=item.teacherId%>">编辑</a>
                                <a class="btn btn-primary" href="teacherListDetails?teacherId=<%=item.teacherId%>">查看详情</a>
                            </td>-->
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<script>
    function details(userId) {
        location.href="/users/teacherDetails?teacherId="+userId;
    }
</script>
</body>
</html>