<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教师详情</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<iframe src="/users/navigation" style="width:100vw;height:145px;z-index: 100" frameborder="0" scrolling="no"></iframe>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">教师详情</h3>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-hover" >
                        <thead>
                        <tr>
                            <th>老师ID</th>
                            <td><%=detail.teacherId%></td>
                        </tr>
                        <tr>
                            <th>申请时间</th>
                            <td><%=detail.teacherCreateTime%></td>
                        </tr>
                        <tr>
                            <th>通过时间</th>
                            <td><%=detail.teacherRegisterDate%></td>
                        </tr>
                        <tr>
                            <th>老师姓名</th>
                            <td><%=detail.teacherName%></td>
                        </tr>
                        <tr>
                            <th>年龄</th>
                            <td><%=detail.teacherAge%></td>
                        </tr>
                        <tr>
                            <th>教育经历</th>
                            <td><%=detail.teacherSchool%></td>
                        </tr>
                        <tr>
                            <th >擅长科目</th>
                            <td><%=detail.teacherGoodCourse%></td>
                        </tr>
                        <tr>
                            <th >简介</th>
                            <td><%=detail.teacherSelfIntroduction%></td>
                        </tr>
                        <tr>

                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">已有课程</h3>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>老师</th>
                            <th>名称</th>
                            <th>时长</th>
                            <th>面向对象</th>
                            <th>课程内容</th>
                            <th>参与人数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%list1.forEach(function (item1){ %>
                        <tr>
                            <td><%=item1.courseId%></td>
                            <td><%=item1.teacherName%></td>
                            <td><%=item1.courseName%></td>
                            <td><%=item1.courseTime%></td>
                            <td><%=item1.objectOriented%></td>
                            <td><%=item1.courseContent%></td>
                            <td><%=item1.courseCount%>人</td>
                            <td>
                                <a class="btn btn-success" href="courseDetailsEdit?courseId=<%=item1.courseId%>">编辑</a>
                                <a class="btn btn-primary" href="courseDetails?courseId=<%=item1.courseId%>">查看详情</a>
                            </td>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">已有视频</h3>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>老师</th>
                            <th>名称</th>
                            <th>时长</th>
                            <th>观看人数</th>
                            <th>上传时间</th>
                            <th>标签</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%list2.forEach(function (item2){ %>
                        <tr>
                            <td><%=item2.videoId%></td>
                            <td><%=item2.teacherName%></td>
                            <td><%=item2.videoName%></td>
                            <td><%=item2.videoTime%></td>
                            <td><%=item2.videoWatchCount%></td>
                            <td><%=item2.videoCreateTime%></td>
                            <td><%=item2.videoTagName%></td>
                            <td>
                                <a class="btn btn-success" href="videoDetailsEdit?videoId=<%=item2.videoId%>">编辑</a>
                                <a class="btn btn-primary" href="videoDetails?videoId=<%=item2.videoId%>">查看详情</a>
                            </td>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>