<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教师详情编辑</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body  onload="putComment('<%=teacherSelfIntroduction%>')">
<%include navigation.ejs%>

<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">教师详情编辑</h3>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <div class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="teacherid">姓名</label>
                                <div class="col-md-6" id="name">
                                    <input type="int" id="teacherName" value="<%=teacherName%>" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="teacherid">手机号</label>
                                <div class="col-md-6" id="name">
                                    <input type="datetime" id="phoneNumber" value="<%=phoneNumber%>" class="form-control">
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="col-md-2 control-label" for="teacherid">老师姓名</label>
                                <div class="col-md-6" id="name">
                                    <input type="text" id="teacherName" value="" class="form-control">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="time">年龄</label>
                                <div class="col-md-6" id="name">
                                    <input type="text" id="teacherAge" class="form-control" value="<%=teacherAge%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="time">教育经历</label>
                                <div class="col-md-6" id="name">
                                    <input type="text" id="teacherSchool" class="form-control" value="<%=teacherSchool%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="time">擅长科目</label>
                                <div class="col-md-6" id="name">
                                    <input type="text" id="teacherGoodCourse" class="form-control" value="<%=teacherGoodCourse%>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="name">简介</label>
                                <div class="col-md-6" id="name">
                                    <textarea id="teacherSelfIntroduction" rows="3" name="content" class="form-control"></textarea>
                                </div>
                            </div>

                        </div>
                        <p style="margin:0;text-align:center;padding-top:50px;" id="hint"></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function teacherListEdit() {
        var teacherId="<%=teacherId%>";
        var teacherName=$("#teacherName").val();
        var phoneNumber = $("#phoneNumber").val();
        var teacherAge=$("#teacherAge").val();
        var teacherSchool=$("#teacherSchool").val();
        var teacherGoodCourse=$("#teacherGoodCourse").val();
        var teacherSelfIntroduction=$("#teacherSelfIntroduction").val();
        var data={
            teacherId:teacherId,
            teacherName:teacherName,
            phoneNumber:phoneNumber,
            teacherAge:teacherAge,
            teacherSchool:teacherSchool,
            teacherGoodCourse:teacherGoodCourse,
            teacherSelfIntroduction:teacherSelfIntroduction,
        }
        console.log("data:"+JSON.stringify(data));
        if(teacherId.length==0){$("#hint").text("老师ID不能为空");}
        else if(teacherName.length==0){$("#hint").text("老师姓名不能为空");}
        else if(teacherAge.length==0){$("#hint").text("年龄不能为空");}
        else if(teacherSchool.length==0){$("#hint").text("教育经历不能为空");}
        else if(teacherGoodCourse.length==0){$("#hint").text("擅长科目不能为空");}
        else if(teacherSelfIntroduction.length==0){$("#hint").text("简介");}
        else{
            $.post("teacherListEdit",data,function (data) {
                if (data.status) {
                    $("#hint").text(data.desc);
                    window.open("teacherlist");
                }
                else
                    $("#hint").text(data.desc);
            })
        }
    }
</script>
<center>
    <button class="btn btn-default " onclick="teacherListEdit()">确定修改</button>
</center>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<script>
    function putComment(comment) {
        $("#teacherSelfIntroduction").val(comment);
    }
</script>
</body>
</html>