<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生列表</title>
    <!--<link rel="import" href="navigation.html">-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<iframe src="/users/navigation" style="width:100vw;height:145px;z-index: 100" frameborder="0" scrolling="no"></iframe>
<div class="main">
    <div class="container">
       <iframe src="/users/navigation" style="width:100vw;height:80px" frameborder="0" scrolling="no"></iframe>
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">学生列表</h3>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>用户ID</th>
                            <th>注册时间</th>
                            <th>用户名称</th>
                            <th>年龄</th>
                            <th>年级</th>
                            <th>学校</th>
                            <th>住址</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%studentList.forEach(function (item){ %>
                        <tr>
                            <td><%=item.studentId%></td>
                            <td><%=item.studentRegisterDate%></td>
                            <td><%=item.studentName%></td>
                            <td><%=item.studentAge%></td>
                            <td><%=item.studentGrade%></td>
                            <td><%=item.studentSchool%></td>
                            <td><%=item.studentAddress%></td>
                            <td>
                                <a class="btn btn-success" href="studentListEdit?studentId=<%=item.studentId%>">编辑</a>
                                <a class="btn btn-primary" href="studentListDetails?studentId=<%=item.studentId%>">查看详情</a>
                            </td>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>