<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>待审核管理</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<iframe src="/users/navigation" style="width:100vw;height:145px;z-index: 100" frameborder="0" scrolling="no"></iframe>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">待审核管理</h3>
                </div>
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>老师ID</th>
                            <th>通过时间</th>
                            <th>老师姓名</th>
                            <th>擅长课程</th>
                            <th>个人简介</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%list.forEach(function (item){ %>
                        <tr>
                            <td><%=item.teacherId%></td>
                            <td><%=item.teacherCreateTime%></td>
                            <td><%=item.teacherName%></td>
                            <td><%=item.teacherGoodCourse%></td>
                            <td><%=item.teacherSelfIntroduction%></td>
                            <td>
                                <button class="btn btn-success " onclick="agree(<%=item.teacherId%>)">同意</button>
                                <button class="btn btn-danger " onclick="disagree(<%=item.teacherId%>)">不同意</button>
                            </td>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript">
    console.log("script")
    function agree(teacherId) {
        var data={teacherId:teacherId, type:2}
        if(teacherId.length==0){$("#hint").text("用户ID不能为空");}
        else{
            $.post("waitChecking",data,function (data) {
                if (data.status) {
                    $("#hint").text(data.desc);
                    location.reload();
                }
                else
                    $("#hint").text(data.desc);
            })
        }
    }
    function disagree(teacherId) {
        var data={teacherId:teacherId, type:0}
        if(teacherId.length==0){$("#hint").text("用户ID不能为空");}
        else{
            $.post("waitChecking",data,function (data) {
                if (data.status) {
                    $("#hint").text(data.desc);
                    location.reload();
                }
                else
                    $("#hint").text(data.desc);
            })
        }
    }

</script>
<script src="/javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>