<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common_line.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/answerDetail.css">
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
        <!--<img src="/images/ic_share.png" href="#" class="right_icon"/>-->
        <h3 class="page_title">回答详情</h3>
    </div>
    <div data-role="answer_area">
        <ul data-role="listview">
            <li data-icon="false">
                <a href="questionDetail?questionId=<%=questionId%>" data-ajax="false">
                    <h5><%= questionTitle %></h5>
                </a>
            </li>
            <li>
                <div class="answer_person">
                    <img class="head_24" src="<%= authorHeadUrl %>"/> <%= authorName %>
                </div>
                <p class="content"><%= answerContent %></p>
            </li>
        </ul>
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</body>
</html>