<!DOCTYPE html>
<html>
<head>
    <title>课程详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/courseDetails.css">
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="goBack()" class="left_icon"/>
        <h3 class="page_title">课程详情</h3>
        <!--<img src="/images/ic_share.png" href="#" class="right_icon"/>-->
    </div>
    <div class="teacher-intro">
        <ul data-role="listview">
            <li data-icon="false">
                <a href="teacherDetail?teacherId=<%=teacherId%>"  data-ajax="false">
                    <img src=<%= teacherHeadUrl %>>
                    <div class="teacher_info">
                        <div class="teacher_school_intro">
                            <h5><%= teacherName %></h5>
                            <p><%= teacherSchool %>|<%= teacherGrade %></p>
                        </div>
                    </div>
                </a>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">课程名称</h5>
                <p class="className-details"><%= courseName %></p>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">课程时间</h5>
                <p class="className-details"><%= courseTime %></p>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">课程时长</h5>
                <p class="className-details">共计3小时</p>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">面向对象</h5>
                <p class="className-details"><%= objectOriented %></p>
            </li>
            <li data-icon="false">
                <a href="/course/studentList?courseId=<%=courseId%>"   data-ajax="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">参与学生</h5>
                    <p class="className-details"><%=studentCount%></p>
                </a>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">课程内容</h5>
                <p><%=courseContent%></p>
            </li>
        </ul>
        <%if(join == 0){%>
        <div style="border-style: none" data-role="footer" data-position="fixed" data-theme="t">
            <a onclick="joinCourse()"class="add_course">
                <h4 id="join_course" style="color:#ffffff;text-align: center;">加入课程</h4>
            </a>
        </div>
        <%}else{%>
        <div style="border-style: none" data-role="footer" data-position="fixed" data-theme="t">
            <a onclick="loadXMLDoc()"class="add_course">
                <h4 id="join_course" style="color:#ffffff;text-align: center;">已加入课程</h4>
            </a>
        </div>
        <%}%>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/smx.js"></script>
    <script>
        var xmlhttp;
        if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }else{// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        /* 加入课程 */
        function joinCourse() {
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    console.log("res:"+xmlhttp.responseText)
                    $("#join_course").text(xmlhttp.responseText);
                }
            }
            xmlhttp.open("GET","/course/joinCourse?courseId=<%=courseId%>",true);
            xmlhttp.send();
        }
    </script>
</div>
</body>
</html>
