<!DOCTYPE html>
<html>
<head>
	<title>我的</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="cache-control" content="no-cache" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/mine.css">
</head>
<body>
<div data-role="page" data-title="尚名校">
	<div data-role="header" data-theme="g" data-position="fixed">
        <h3>我的</h3>
    </div>
	<div data-role="content" class="content">
		<ul data-role="listview">
			<li data-icon="false">
				<a href="login" data-ajax="false">
					<img src="<%=userHeadUrl%>" class="set-people" style="width:50px;height:50px">
					<h1><%=userName%></h1>
					<%if(gender == 1){%>
					<img class="gender"src="/images/man.png">
					<%}else{%>
					<img class="gender"src="/images/women.png">
					<%}%>
				</a>
			</li>
		</ul>
		<%if(role == 2){%>
		<ul data-role="listview" class="ui-listview-func">
			<li data-icon="false">
				<a onclick="statusSwitch()"  data-ajax="false">
					<img src="/images/03.png" class="ui-li-icon">
					<p class="question_status">问答状态</p>

					<p class="switch_status"id="question_status"><% if(status){%>状态：开<%}else{%>状态：关<%}%></p>
				</a>
			</li>
		</ul>
		<ul data-role="listview" class="ui-listview-func">
			<li data-icon="false">
				<a href="createCourse"  data-ajax="false">
					<img src="/images/新建课程.png" class="ui-li-icon">
					<p>新建课程</p>
				</a>
			</li>
		</ul>
		<%}else{%>
		<ul data-role="listview" class="ui-listview-func">
			<li data-icon="false">
				<a href="registerTeacherPage"  data-ajax="false">
					<img src="/images/新建课程.png" class="ui-li-icon">
					<p>申请家教</p>
				</a>
			</li>
		</ul>
		<%}%>
		<ul data-role="listview" class="ui-listview-func">
			<li data-icon="false" class="my_course">
				<a href="myCourse"  data-ajax="false">
					<img src="/images/我的课程.png" class="ui-li-icon">
					<p>我的课程</p>
				</a>
			</li>
			<li data-icon="false">
				<a href="myQuestion"  data-ajax="false">
					<img src="/images/我的提问.png" class="ui-li-icon">
					<p>我的提问</p>
				</a>
			</li>

		</ul>
		<ul data-role="listview" class="ui-listview-func">
			<li data-icon="false">
				<a href="setCenter"  data-ajax="false">
					<img src="/images/设置中心.png" class="ui-li-icon">
					<p>设置中心</p>
				</a>
			</li>
		</ul>
		<ul data-role="listview" class="ui-listview-func ui-btn-exit">
			<li data-icon="false">
				<a href="logout"  data-ajax="false">
					<p>退出登录</p>
				</a>
			</li>
		</ul>
	</div>
	<div data-role="footer" data-position="fixed" data-theme="t">
         <div data-role="navbar">
             <ul>
                <li><a href="/course/course" data-ajax="false"><img src="/images/01.png"><p>课程</p></a></li>
                <li><a href="/video/video" data-ajax="false"><img src="/images/02.png"><p>视频</p></a></li>
                <li><a href="/question/question" data-ajax="false"><img src="/images/03.png"><p>答疑</p></a></li>
                <li><a href="#" data-ajax="false"><img src="/images/04.png"><p>我的</p></a></li>
             </ul>
         </div>
    </div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
<script>
	var xmlhttp;
	if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp = new XMLHttpRequest();
	}else {// code for IE6, IE5
		xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
	}
	function statusSwitch() {
		var status = '<%=status%>'
		console.log("status:"+status);
		if(status == 1){
			status = 0;
			document.getElementById("question_status").innerHTML = "状态：关";
			xmlhttp.open('GET',"/users/questionStatus?userId=<%=userId%>&status=0");

		}else{
			status = 1;
			document.getElementById("question_status").innerHTML = "状态：开";
			xmlhttp.open('GET',"/users/questionStatus?userId=<%=userId%>&status=1");
		}
		xmlhttp.send();
	}
</script>
</body>
</html>