<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common_line.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/personDetail.css">
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
        <%if(!self){%>
            <span><a href="personDetailEdit"data-ajax="false"><img class="right_icon"src="/images/编辑.png"></a></span>
        <%}%>
        <h3 class="page_title">个人信息</h3>
    </div>
    <div class="teacherInfo">
        <ul data-role="listview">
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="specialHr">
                <h5 class="specialType">头像</h5>
                <h5 class="specialDetail"><img id="head" src="<%=userHeadUrl%>" class="head_50"></h5>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">姓名</h5>
                <h5 class="className-detail"><%=userName%></h5>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">性别</h5>
                <h5 class="className-detail"><%if(gender==1){%>男<%} else if(gender == 2){%>女<%}else{%>保密<%}%></h5>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">年龄</h5>
                <h5 class="className-detail"><%=userAge%></h5>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">所在学校</h5>
                <h5 class="className-detail"><%=userSchool%></h5>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">年级</h5>
                <h5 class="className-detail"><%=userGrade%></h5>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">家庭住址</h5>
                <h5 class="className-detail"><%=userAddress%></h5>
            </li>
        </ul>
        <p id="hint"></p>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
</div>
</body>
</html>
