<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/question_detail.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
        <!--<img src="/images/ic_share.png" href="#" class="right_icon"/>-->
        <h3 class="page_title">问题详情</h3>
    </div>
    <div data-role="content">
        <div class="answer_area">
            <ul data-role="listview">
                <li>
                    <h4><%=question.questionTitle%></h4>
                    <p class="question_content"><%=question.questionContent%></p>
                    </li>
                <li data-icon="false">
                    <a href="./answerQuestion?questionId=<%=question.questionId%>" data-ajax="false">
                        <div class="addAnswer_div">
                            <img src="/images/tab_course.png" class="addAnswer_img">
                            <p class="addAnswer_p">添加回答</p>
                        </div>
                    </a>
                </li>
                <%answerList.forEach(function (item) {%>
                <li data-icon="false">
                    <a href="answerDetail?answerId=<%=item.answerId%>" data-ajax="false">
                        <span class="ans_teacher"><img class="head_24" src="<%=item.authorHeadUrl%>"><%=item.authorName%></span>
                        <p class="answer_content"><%=item.answerAbstract%></p>
                    </a>
                </li>
                <%})%>
            </ul>
        </div>
    </div>
</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.js"></script>
<script>
    if($.cookie("questionDetail") == "true"){
        location.reload();
        $.cookie("questionDetail",false);
        $.cookie("questionList",true);
    }
</script>
</html>