<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common_line.css">
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
        <h3 class="page_title">老师信息</h3>
        <!--<img src="/images/ic_share.png" href="#" class="right_icon"/>-->
    </div>
    <div class="teacherInfo">
        <ul data-role="listview">
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">姓名</h5>
                <p class="className-details"><%= teacherName %></p>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">所在学校</h5>
                <p class="className-details"><%= teacherSchool %></p>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">年级</h5>
                <p class="className-details"><%= teacherGrade %></p>
            </li>
            <li data-icon="arrow-r">
                <a class="line_click" href="courseList?teacherId=<%=teacherId%>" data-ajax="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">课程列表</h5>
                    <p class="className-details">查看详情</p>
                </a>

            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">擅长课程</h5>
                <p class="className-details"><%= goodCourse %></p>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">自我介绍</h5>
                <p class="content"><%= selfIntroduction %></p>
            </li>
        </ul>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
</div>
</body>
</html>
