<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css"
          href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/videoDetail.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
        <!--<img src="/images/ic_share.png" href="#" class="right_icon"/>-->
        <h3 class="page_title">视频详情</h3>
    </div>
    <div class="teacherInfo">
        <ul data-role="listview">
            <li data-icon="false">
                <video width="100%" class="video" controls>
                    <source src="<%= detail.videoUrl %>"
                            type="video/mp4">
                </video>
            </li>
            <li data-icon="false">
                <div class="video_info">
                    <h5 class="grade"><%= detail.videoName %></h5>
                    <div class="teacherIntro">
                        <h5 class="name"><%= detail.authorName %></h5>
                        <h6 class="school"><%= detail.authorSchool %>|<%= detail.authorGrade %></h6>
                    </div>
                    <div class="videoInfo">
                        <p><%= detail.videoTime %> | <span class="number"><%= detail.videoWatchCount %></span>次观看</p>
                        <!--<span class="videos_classify_detail">高中</span>-->
                        <!--<span class="videos_classify_detail">数学</span>-->
                        <!--<span class="videos_classify_detail">理科</span>-->
                    </div>
                </div>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">课程简介</h5>
                <p class="content"><%= detail.videoAbstract %></p>
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">课程内容</h5>
                <p class="content"><%= detail.videoContent %></p>
            </li>
        </ul>
    </div>
    <h4 class="type"><img src="/images/type_icon_green.png">&nbsp评论</h4>
    <img src="/images/line_green.png" class="div_line">
    <div style="margin-bottom: 60px">
        <ul data-role="listview">
            <%if(comment.length == 0){%>
                <p class="comment-empty">还没有评论，快来添加第一条评论吧</p>
            <%}%>
            <% comment.forEach(function(item){ %>
            <li data-icon="false" class="comment-list">
                <img class="head_60" src=<%= item.userHeadUrl %>>
                <p class="name"><%= item.userName %>: <%= item.comment %></p>
            </li>
            <% }) %>
        </ul>
    </div>
    <div class="comment-div">
        <input type="text" placeholder="请输入评论" id="commentStr">
        <button onclick="comment()" id="comment" class="comment">评论</button>
    </div>
</div>
</body>
<script>
    function comment() {
        console.log("comment")
        var comment = $("#commentStr").val();
        var videoId = "<%=detail.videoId%>";
        if (comment.length != 0) {
            var data = {
                videoId: videoId,
                comment: comment
            }
            $.post("comment", data, function (data) {
                if (data.status) {
                    comment:$("#commentStr").val("");
                    location.reload();
                } else {
                    console.log(data.desc);
                }
            }, "json")
        }
    }
</script>
</html>