<!DOCTYPE html>
<html>
<head>
	<title>尚名校</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="cache-control" content="no-cache" />
	<link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/video.css">
	<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
	<div data-role="page" data-title="尚名校">
		<div data-role="header" data-theme="g" data-position="fixed">
			<h3>视频</h3>
		</div>
		<!--
		<div class="tab_search">
			<div class="ui-grid-b">
				<div class="ui-block-a"><a href=""><img src="/images/初中.png"></a></div>
				<div class="ui-block-b"><a href="#"><img src="/images/高中.png"></a></div>
				<div class="ui-block-c"><a href="#"><img src="/images/数学.png"></a></div>
				<div class="ui-block-a"><a href="#"><img src="/images/物理.png"></a></div>
				<div class="ui-block-b"><a href="#"><img src="/images/英语.png"></a></div>
				<div class="ui-block-c"><a href="#"><img src="/images/语文.png"></a></div>
			</div>
		</div>
		-->
		<div data-role="content">
			<div class="hotvideos">
				<h4><img src="/images/myclass.png">&nbsp热门视频<!--<span><a href="#">更多></a></span>--></h4>
				<img src="/images/课程分割线.png" class="div_line">
				<div class="details_videos">
					<ul data-role="listview">
						<%videoList.forEach(function(item){%>
						<li data-icon="false">
							<a href="videoDetail?videoId=<%=item.videoId%>"  data-ajax="false">
								<img src="<%=item.videoCoverUrl%>" class="video_show">
								<div class="videos_info">
									<div class="videos_name">
										<h3><%=item.videoName%></h3>
									</div>
									<div class="videos_time">
										<h5><%=item.videoTime%> | <span><%=item.videoWatchCount%></span>人观看</h5>
									</div>
									<!--<div class="videos_classify">-->
										<!--<ul>-->
											<!--<li>高中</li>-->
											<!--<li>数学</li>-->
											<!--<li>理科</li>-->
										<!--</ul>-->
									<!--</div>-->
								</div>
							</a>
						</li>
						<%})%>
					</ul>
				</div>
			</div>
		</div>
		
		<div data-role="footer" data-position="fixed" data-theme="t">
			 <div data-role="navbar">
			 	<ul>
					<li><a href="/course/course" data-ajax="false"><img src="/images/01.png"><p>课程</p></a></li>
					<li><a href="#" data-ajax="false"><img src="/images/02.png"><p>视频</p></a></li>
					<li><a href="/question/question" data-ajax="false"><img src="/images/03.png"><p>答疑</p></a></li>
					<li><a href="/users/mine" data-ajax="false"><img src="/images/04.png"><p>我的</p></a></li>
			 	</ul>
			 </div>
		</div>
	</div>
</body>
</html>