<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .head{width:96px;height:96px;}
        .head-input{opacity: 0;position:absolute;width:100%;height:100%;z-index: 1000}
        .head-edit{position:absolute;text-align:center;margin-top:40px;width:96px;height:96px;z-index: 900}
        .base-info{display: inline-block;height: 96px;vertical-align: middle;}
        .image{width:49%;display: inline-block;text-align: center;margin-top:20px}
        .image img{width:80%}
        .image-input{opacity: 0;position:absolute;width:100%;height:100%;z-index: 1000}
        .image-edit{position:absolute;text-align:center;margin-top:20%;width:100%;z-index: 900}
    </style>
</head>
<body onload="uploadImage()">
<%include navigation-index.ejs%>
<%include navigation-joinReception.ejs%>
<div class="right-content"  onload="uploadImg()">
    <div class="panel-heading title-block">
        <h3 class="panel-title title-white">基本信息</h3>
        <h3 class="panel-title right-button" onclick="edit()" id="edit">编辑</h3>
    </div>
    <div class="margin-left-30" id="person-info">
        <img src="<%=user.userHeadUrl%>" class="head img-circle right">
        <div class="base-info">
            <h3 class="inline"><%=user.userName%>&nbsp;<%if(user.gender== 0){%>男<%}else{%>女<%}%>%></h3>   <h4 class="inline">年龄:<%=user.userAge%></h4><br>
            <h4>电话号码:<%=user.phoneNumber%></h4>
        </div>
        <button class="btn btn-default inline right" onclick="logout()">退出登录</button>
        <br>
        <h4>家庭地址:<%=user.userAddress%></h4>
    </div>
    <div class="margin-left-30"   style="display: none" id="person-edit">
        <div class="carousel-inner right" style="width:auto">
            <input  type="file" class="head-input" id="head-input"/>
            <p class="image-edit">编辑图片</p>
            <img id="head-image" src="<%=user.userHeadUrl%>" class="head img-circle">
        </div>
        <div class="base-info">
            <label>前台姓名: &nbsp;</label><input id="person-name" class="inline margin-top-20" value="<%=user.userName%>" placeholder="请输入前台姓名" /><br>
            <!--<select id="location" class="padding-4" >-->
                <!--<option>台安店</option>-->
                <!--<option selected="selected">大连店</option>-->
                <!--<option>沈阳店</option>-->
            <!--</select><br>-->
            <label>前台手机号: &nbsp</label><input id="person-phoneNumber"class="inline margin-top-20" value="<%=user.phoneNumber%>" placeholder="请输入手机号码" /><br>
            <!--<button id="apply-modify"class="btn btn-defalut padding-4" onclick="applyModify()">申请修改</button>-->

        </div>
        <br>
        <label class="margin-top-20">家庭地址 &nbsp;</label><input id="address" value="<%=user.userAddress%>" placeholder="请输入家庭信息">
    </div>
    <div class="margin-left-30 margin-top-20" id="id">
        <h4>身份证号码:<%=user.cardNumber%></h4>
        <div class="image">
            <img src="<%=user.userFrontIdHeadUrl%>"/>
            <p>身份证正面</p>
        </div>
        <div class="image">
            <img src="<%=user.userBackIdHeadUrl%>"/>
            <p>身份证背面</p>
        </div>
    </div>
    <div class="margin-left-30" style="display:none" id="id-edit">
        <div class="margin-top-20">
            <label>身份证号&nbsp</label><input id="cardNumber" value="123456789012345678"placeholder="请输入身份证号"/><br>
        </div>
        <div class="image carousel-inner">
            <input type="file" class="image-input" id="image-front-input"/>
            <p class="image-edit">编辑图片</p>
            <img src="<%=user.userFrontIdHeadUrl%>" id="image-front">
            <p>身份证正面</p>
        </div>
        <div class="image carousel-inner">
            <input type="file" class="image-input" id="image-back-input"/>
            <p class="image-edit">编辑图片</p>
            <img src="<%=user.userBackIdHeadUrl%>" id="image-back">
            <p>身份证背面</p>
        </div>
    </div>
</div>
</div>
</body>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/javascripts/sdk/qcloud_sdk.js"></script>
<script src="/javascripts/sdk/swfobject.js"></script>
<script>
    var headUrl = "<%=user.userHeadUrl%>"
    var frontUrl = "<%=user.userFrontIdHeadUrl%>";
    var backUrl = "<%=user.userBackIdHeadUrl%>";

    function uploadImage(){
        var cos = new CosCloud("10068625","/")
        document.getElementById("head-input").addEventListener("change",function(){
            var fileList = this.files;
            console.log("file:"+JSON.stringify(fileList))
            if(fileList.length>0){
                var postfix = fileList[0].name.substr(name.lastIndexOf("."))
                cos.uploadFile(function(result){
                    headUrl = JSON.parse(result).data.access_url;
                    $("#head-image").attr('src',JSON.parse(result).data.access_url)
                },function(err){
                    console.log("error")
                    console.log("err:"+err);
                },"smxbucket","/head/"+userId+"head"+Math.floor((Math.random()*9000+1000))+postfix,fileList[0],0)
            }
        })
        document.getElementById("image-front-input").addEventListener("change",function(){
            var fileList = this.files;
            console.log("file:"+JSON.stringify(fileList))
            if(fileList.length>0){
                var postfix = fileList[0].name.substr(name.lastIndexOf("."))
                cos.uploadFile(function(result){
                    frontUrl = JSON.parse(result).data.access_url;
                    $("#image-front").attr('src',JSON.parse(result).data.access_url)
                },function(err){
                    console.log("error")
                    console.log("err:"+err);
                },"smxbucket","/idcard/"+userId+"card"+Math.floor((Math.random()*9000+1000))+postfix,fileList[0],0)
            }
        })
        document.getElementById("image-back-input").addEventListener("change",function(){
            var fileList = this.files;
            console.log("file:"+JSON.stringify(fileList))
            if(fileList.length>0){
                var postfix = fileList[0].name.substr(name.lastIndexOf("."))
                cos.uploadFile(function(result){
                    backUrl = JSON.parse(result).data.access_url;
                    $("#image-back").attr('src',JSON.parse(result).data.access_url)
                },function(err){
                    console.log("error")
                    console.log("err:"+err);
                },"smxbucket","/idcard/"+userId+"card"+Math.floor((Math.random()*9000+1000))+postfix,fileList[0],0)
            }
        })
    }

    function loginDialog(){
        location.href="joinReceptionDetail"
    }
    $("#navigation-person").addClass("select-left-button")
    var editFlag = true;
    var applyFlag = true;
    var applyIdFlag = true;
    function edit(){
        if(editFlag){
            editFlag = false;
            $("#edit").text("完成")
            $("#person-info").hide();
            $("#person-edit").show();
            $("#id").hide();
            $("#id-edit").show();

        }else{
            editInfo()
            editFlag = true;
            $("#edit").text("编辑")
            $("#person-info").show();
            $("#person-edit").hide();
            $("#id").show();
            $("#id-edit").hide();

        }
    }
    function logout() {
        $.post("/user/logout",{},function (data) {
            location.href = "/"
        })
    }
    function editInfo(){
        var userName = $("#person-name").val();
        var phoneNumber = $("#person-phoneNumber").val();
//        var obj = document.getElementById("location");
//        var index = obj.selectedIndex;
        var shopLocation;



//        if(index==0)
//        {
//            location="台安";
//        }
//        else if(index==1){
//            location="大连";
//        }
//        else if(index==2){
//            location="沈阳";
//        }
        var data = {
            userHeadUrl:headUrl,
            userFrontIdHeadUrl:frontUrl,
            userBackIdHeadUrl:backUrl,
            userName:userName,
            phoneNumber:phoneNumber,
            address:$("#address").val(),
            location:shopLocation,
            cardNumber:$("#cardNumber").val()
        }
        console.log("data:"+JSON.stringify(data))
        jQuery.post("./editInfo",data,function (ret) {
            console.log(JSON.stringify(ret));
            location.reload()
        })
    }
</script>
</html>