<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .course-block{height:60px;border-radius: 5px;border-style:solid;border-width:1px;border-color:#4cae4c;margin-bottom:10px;margin-top:10px}
        .course-block-finished{height:60px;border-radius: 5px;border-style:solid;border-width:1px;border-color:#575757;margin-bottom:10px;margin-top:10px}
        .course-title{color:#4cae4c}
        .inline{display: inline-block;margin:2px;}
        .right{float:right}
        .left{float:left}
        .center{margin-left:12px;margin-top:12px}
        .sign-up{margin-top:10px;margin-right:10px}
        .title{text-align:left;background-color: #f7f7f7;padding:10px}
        .course{}
        .doBtn{float:right;padding-bottom: 3vh;}
        .clear{clear: both;}
        .select{width:150px;text-align: left;background-color: white;float:right;display: none;padding-top:30px;height:361px;overflow-y: scroll;overflow-x:hidden}
    </style>
</head>
<body>
<%include navigation-index.ejs%>
<%include navigation-joinReception.ejs%>
<div class="right-content">
    <div class="panel-heading title-block">
        <h2 class="title-white"><%=template.seriesName%></h2>
    </div>
    <div>
        <button class="btn btn-default" style="margin:10px;" onclick="enter()">生成班级</button>
        <button class="btn btn-default" style="margin:10px;" onclick="join()">添加到已有课程</button>
    </div>
    <%postList.forEach(function (item) {%>
    <div class="course-block">
        <div class="inline left course">
            <input type="checkbox" class="checkStudent" name="<%=item.studentId%>" value="<%=item.userName%>">
            <h3 class="inline course-title"><%=item.userName%></h3><br>
            <%if(item.hopeClassType != ""){%>
            <h4 class="inline"><b>期望班型：</b><%=item.hopeClassType%></h4>
            <%}else{%>
            <h4 class="inline"><b>班型不限</b></h4>
            <%}%>
            <%if(item.hopeTeacher != ""){%>
            <h4 class="inline"><b>期望老师：</b><%=item.hopeTeacher%></h4>
            <%}else{%>
            <h4 class="inline"><b>老师不限</b></h4>
            <%}%>
            <%if(item.hopeTime != ""){%>
            <h4 class="inline"><b>期望时间：</b><%=item.hopeTime%></h4>
            <%}else{%>
            <h4 class="inline"><b>时间不限</b></h4>
            <%}%>
            <%if(item.other != ""){%>
            <h4 class="inline"><b>备注：</b><%=item.other%></h4>
            <%}%>
        </div>
    </div>
    <%})%>
    <p id="hint"></p>
    <div id="fade" class="black-overlay"></div>
    <div id="light" class="white-content">
        <div class="dialog" id="post" display="none">
            <div class="dialog-title"><span class="font-20 title-white">申请课程</span><span class="right title-white" onclick="closeDialog()">X</span></div>
            <label class="dialog-label">课程名称</label><input id="courseName" class="dialog-input" placeholder="请输入课程名称"disabled>
            <label class="dialog-label">上课老师</label><input id="chooseTeacher" class="dialog-input" placeholder="请输入老师" onclick="chooseTeacher()">
            <label class="dialog-label">上课同学</label><input id="chooseStudent" class="dialog-input" placeholder="请输入同学" disabled>
            <label class="dialog-label">班    型</label>
            <div id="select-classType" class="dialog-input inline  ">
                <input type="radio" name="classType" value="1人">1人
                <input type="radio" name="classType" value="2人">2人
                <input type="radio" name="classType" value="3-4人">3-4人
                <input type="radio" name="classType" value="5-8人">5-8人<br>
            </div>
                <label class="dialog-label">教    室</label>
            <div id="select-room" class="dialog-input inline  ">
                <input type="radio" name="room" value="教室一">教室一
                <input type="radio" name="room" value="教室二">教室二
                <input type="radio" name="room" value="教室三">教室三
                <input type="radio" name="room" value="教室四">教室四<br>
                <input type="radio" name="room" value="教室五">教室五
                <input type="radio" name="room" value="教室六">教室六
                <input type="radio" name="room" value="教室七">教室七
                <input type="radio" name="room" value="教室八">教室八
            </div>
            <label class="dialog-label">开课日期</label><input id="startDate" type="date" class="dialog-input" placeholder="请输入开课日期" style="margin:0;padding:0" onchange="setDate()">
            <label class="dialog-label">结课日期</label><input id="endDate" class="dialog-input" placeholder="请输入开课日期" disabled>
            <label class="dialog-label">期望时间</label>
            <div id="select-time" class="dialog-input inline  ">
                <input type="radio" name="time" value="07:00">07:00
                <input type="radio" name="time" value="08:40">08:40
                <input type="radio" name="time" value="10:20">10:20
                <input type="radio" name="time" value="13:30">13:30<br>
                <input type="radio" name="time" value="15:10">15:10
                <input type="radio" name="time" value="16:50">16:50
                <input type="radio" name="time" value="19:30">19:30
                <input type="radio" name="time" value="21:10">21:10
            </div>
            <button class="btn btn-default dialog-button" onclick="post()" id="createCourse">创建班级</button>
        </div>
        <div id="course" class="white-content">
            <div class="dialog-title"><span class="font-20 title-white">选择已有</span><span class="right title-white" onclick="closeDialog()">X</span></div>
            <label class="dialog-label">上课同学</label><input id="courseChooseStudent" class="dialog-input" placeholder="请输入同学" disabled>
            <%if(allCourse.length == 0){%>
            <h4 style="text-align: center;margin:10px">当前没有课程</h4>
            <%} allCourse.forEach(function (item) { %>
            <div class="course-block">
                <div class="inline left">
                    <h3 class="inline course-title"><%=item.courseSeriesName%></h3><br>
                    <h4 class="inline"><%=item.userName%></h4><h4 class="inline"><%=item.time%>  <%=item.room%></h4>
                </div>
                <button class="btn btn-success right sign-up" onclick="courseDetail(<%=item.courseSeriesId%>)">选择</button>
            </div>
            <%})%>
        </div>
        <div id="select-teacher" class="select">
            <%teacher.forEach(function (item) {%>
                <button class="btn btn-default center" onclick="selectTeacher('<%=item.userId%>','<%=item.userName%>')"><%=item.userName%></button><br>
            <%})%>
        </div>
    </div>
</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    var studentList = [];
    var students = "";
    var teacherId;
    function loginDialog(){
        location.href="studentDetail"
    }
    $("#navigation-check").addClass("select-left-button");
    function seriesTemplateDelete(id) {
        var courseSeriesId={templateId:id};
        $.post('seriesTemplateDelete',courseSeriesId,function (ret) {
            if(ret.status==true){
                //$("#hint").text(ret);
                location.href='educationCourse';
            }
        })
    }
    function setDate(){
        var startDate = $("#startDate").val();
        var strDate = startDate.split("-");
        if(strDate[0]%400 == 0 || (strDate%400!=0 && strDate%4 == 0)){
            var days = [31,29,31,30,31,30,31,31,30,31,30,31]
        }else{
            var days = [31,29,31,30,31,30,31,31,30,31,30,31]
        }
        strDate[0] = new Number(strDate[0])
        strDate[1] = new Number(strDate[1])
        strDate[2] = new Number(strDate[2])
        strDate[2] = strDate[2] + (new Number('<%=template.number%>')-1);
        console.log("day:"+strDate[2])
        while(strDate[2] > days[strDate[1]-1]){
            strDate[2]= strDate[2]-days[strDate[1]-1];
            strDate[1]=strDate[1]+1;
            console.log("month:"+strDate[1]+" day:"+strDate[2])
            while(strDate[1]>12){
                strDate[1] = strDate[1]-12;
                strDate[0] = strDate[0]+1;
                console.log("year:"+strDate[0]+" month:"+strDate[1]+" day:"+strDate[2])
            }
        }

        $("#endDate").val(strDate[0]+"/"+strDate[1]+"/"+strDate[2])
    }
    function enter(){
        clear();
        var checkedList = $(".checkStudent");
        var firstFlag = true;
        for(var i=0;i<checkedList.length;i++){
            if(checkedList[i].checked){
                studentList.push(checkedList[i].name)
                if(firstFlag){
                    firstFlag = false;
                    students = students + checkedList[i].value;
                }else{
                    students = students + "," +checkedList[i].value;
                }
            }
        }
        console.log("students:"+students+" studentList:"+JSON.stringify(studentList))
        if(studentList.length == 0){
            alert("您没有选择学生")
        }else{
            console.log(checkedList)
            showDialog()
            $("#chooseStudent").val(students)
        }
    }
    function join(){
        var allCourse = '<%=allCourse%>'
        if(allCourse.length == 0){
            alert("当前科目还没有课程")
        }else{
            clear();
            var checkedList = $(".checkStudent");
            var firstFlag = true;
            for(var i=0;i<checkedList.length;i++){
                if(checkedList[i].checked){
                    studentList.push(checkedList[i].name)
                    if(firstFlag){
                        firstFlag = false;
                        students = students + checkedList[i].value;
                    }else{
                        students = students + "," +checkedList[i].value;
                    }
                }
            }
            console.log("students:"+students+" studentList:"+JSON.stringify(studentList))
            if(studentList.length == 0){
                alert("您没有选择学生")
            }else{
                console.log(checkedList)
                showCourse()
                $("#courseName").val("<%=template.seriesName%>")
                $("#courseChooseStudent").val(students)
            }
        }
    }
    function post(){
        $("#createCourse").attr('disabled',true);
        var templateId = "<%=template.templateId%>";
        if(teacherId == null || teacherId.length == 0 || teacherId == 0){
            alert("请选择老师")
        }else{
            var classType;
            var classTypeList = $("input[name='classType']");
            for(var i=0;i<classTypeList.length;i++){
                if(classTypeList[i].checked){
                    classType = classTypeList[i].value;
                }
            }
            if(classType == null || classType.length == 0){
                alert("请选择班型")
            }else{
                var room;
                var roomList = $("input[name='room']");
                for(var i=0;i<roomList.length;i++){
                    if(roomList[i].checked){
                        room = roomList[i].value;
                    }
                }
                if(room == null || room.length == 0){
                    alert("请选择教室")
                }else{
                    var startDate = $("#startDate").val();
                    if(startDate == null || startDate.length == 0){
                        alert("请输入开始日期")
                    }else{
                        var endDate = $("#endDate").val()
                        console.log($("#startDate"))
                        var time;
                        var timeList = $("input[name='time']");
                        for(var i=0;i<timeList.length;i++){
                            if(timeList[i].checked){
                                time = timeList[i].value;
                            }
                        }
                        if(time == null || time.length == 0){
                            alert("请选择时间")
                        }else{
                            console.log()
                            var data = {
                                templateId:templateId,
                                studentId:studentList,
                                teacherId:teacherId,
                                classType:$("#classtype").val(),
                                time:"8:00",
                                shopId:1,
                                startDate:startDate,
                                endDate:endDate,
                                classType:classType,
                                room:room,
                                time:time
                            }
                            console.log(JSON.stringify(data))
                            $.post("createCourse",data,function (data) {
                                console.log(JSON.stringify(data))
                                alert(data.desc)
                                if(data.status){
                                    closeDialog();
                                    location.reload()
                                }else{
                                    $("#createCourse").attr('disabled',false);
                                }
                            })
                        }
                    }
                }
            }
        }
    }
    function clear(){
        teacherId = 0;
        $("#chooseTeacher").val("");
        studentList = [];
        students = "";
        var classTypeList = $("input[name='classType']");
        for(var i=0;i<classTypeList.length;i++){
            classTypeList[i].checked = false;
        }
        var roomList = $("input[name='room']");
        for(var i=0;i<roomList.length;i++){
            roomList[i].checked = false;
        }
        $("#startDate").val("");
        var timeList = $("input[name='time']");
        for(var i=0;i<timeList.length;i++){
            timeList[i].checked = false;
        }
    }
    function showDialog(){
        $("#fade").show()
        $("#light").show()
        $("#post").show()
        $("#course").hide()
    }
    function showCourse(){
        $("#fade").show();
        $("#light").show();
        $("#post").hide()
        $("#course").show()
    }
    function closeDialog(){
        $("#fade").hide()
        $("#light").hide()
        $("#add-student").hide()
        $("#post").hide()
        $(".white-content").width("350px")
        $(".dialog-title").width("330px")
        $("#chooseTeacher").attr("disabled",false)
        $("#chooseStudent").attr("disabled",false)
        $("#select-teacher").hide();
        $("#select-student").hide();
    }
    function selectTime(){
        var time = $("#time").val();
        if(time == "每天"){
            $("#select-day").hide();
            $("#select-course").show();
        }else if(time == "每周"){
            $("#select-day").show();
            $("#select-course").show();
        }else{
            $("#select-day").hide();
            $("#select-course").hide();
        }
    }
    function chooseTeacher(){
        $(".white-content").width("500px")
        $(".white-content").height("507px")
        $(".dialog-title").width("480px")
        $("#select-teacher").show();
        $("#select-student").hide();
        $("#chooseTeacher").attr("disabled",true)
        $("#chooseStudent").attr("disabled",false)
    }
    function selectTeacher(id,name){
        console.log(id)
        teacherId = id;
        $("#chooseTeacher").val(name)
    }
</script>
</html>