<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/scroll-table.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .table>thead>tr>th{border:1px solid black !important;text-align: center}
        .table>tbody>tr>td{border:1px solid black !important;text-align: center}
        .table>tbody>tr>th{border:1px solid black !important;text-align: center}
        .width-700{width: 700px;margin:auto}
        .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{vertical-align: middle;}
        .width-5{width:5%;}
        .width-10{width:10%}
        .teacher-block{height:40px;width:auto;border-radius: 5px;border-style:solid;border-width:1px;border-color:#4cae4c;margin-bottom:10px;margin-top:10px;display:inline-block}
        .teacher-name{margin-left:10px; display:inline-block}
        .sign-up{margin-top:-5px;margin-right:10px;display: inline-block}
        .hide{display:none}
        .course-title{color:#4cae4c}
    </style>
</head>
<body style="height:100%">
<%include navigation-index.ejs%>
<%include navigation-joinReception.ejs%>
<div class="right-content">
    <button class="btn btn-default inline right" onclick="printSheet()">打印签到表</button>
    <div class="width-700">
        <%var date = date.split("-")%>
        <p id="month" class="center"><%=date[0]%>年<%=date[1]%>月<%=date[2]%>日</p>
    </div>
    <div style="padding-right: 17px" id="home">
        <table class="table table-hover" style="margin-bottom:0px;">
            <thead>
            <tr>
                <th></th>
                <%courseTime.forEach(function (time) {%>
                    <th><%=time%></th>
                <%})%>
            </tr>
            </thead>
            <tbody>
            <%data.forEach(function (item) {%>
            <tr id="table">
                <th class="width-5"><p><%=item.courseRoom%></p></th>
                <%item.course.forEach(function(course){%>
                    <td class="width-10"><%=course.courseTeacher%><br> <span class="course-title"><%=course.courseName%></span><br><span><%=course.student%></span></td>
                <%})%>
            </tr>
            <%})%>
            </tbody>
        </table>
    </div>
</div>
<div id="fade" class="black-overlay"></div>
<div id="light" class="white-content">
    <div class="dialog">
        <div class="dialog-title"><span class="font-20 title-white">教师信息</span><span class="right title-white" onclick="closeDialog()">X</span></div>
        <label class="padding-4">老师姓名：李金泰</label><br>
        <label class="padding-4">老师电话：12345678901</label>
    </div>
</div>
</body>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/javascripts/divselect.js"></script>
<script>
    function loginDialog(){
        location.href="joinReceptionDetail"
    }
    $("#navigation-course").addClass("select-left-button");
    function printSheet(){
        location.href = "joinReceptionPrint";
    }
    function contact(){
        $("#fade").show()
        $("#light").show()
    }
    function closeDialog(){
        $("#fade").hide()
        $("#light").hide()
    }

</script>
</html>