<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .head{width:96px;height:96px;}
        .head-input{opacity: 0;position:absolute;width:96px;height:96px;z-index: 1000}
        .head-edit{position:absolute;text-align:center;margin-top:40px;width:96px;height:96px;z-index: 900}
        .base-info{display: inline-block;height: 96px;vertical-align: middle;}
        .image{width:49%;display: inline-block;text-align: center;margin-top:20px}
        .image img{width:80%}
        .image-input{opacity: 0;position:absolute;width:40%;height:20%;z-index: 1000}
        .image-edit{position:absolute;text-align:center;margin-top:5%;width:40%;z-index: 900}
    </style>
</head>
<body>
<%include navigation-index.ejs%>
<%include navigation-joinReception.ejs%>
<div class="right-content">
    <div class="panel-heading title-block">
        <h3 class="panel-title title-white">基本信息</h3>
        <h3 class="panel-title right-button" onclick="edit()" id="edit">编辑</h3>
    </div>
    <div class="margin-left-30" id="person-info">
        <img src="/images/icon.png" class="head img-circle">
        <div class="base-info">
            <h3 class="inline"><%=info.userName%>&nbsp;<%if(info.gender== 0){%>男<%}else{%>女<%}%>%></h3>   <h4 class="inline">年龄:<%=info.userAge%></h4><br>
            <h4>电话号码:<%=info.phoneNumber%></h4>
        </div>
        <button class="btn btn-default inline right" onclick="logout()">退出登录</button>
        <br>
        <h5>家庭地址:<%=info.userAddress%></h5>
    </div>
    <div class="margin-left-30"   style="display: none" id="person-edit">
        <div class="inline">
            <input type="file" class="head-input"/>
            <p class="head-edit">编辑图片</p>
            <img src="/images/icon.png" class="head img-circle">
        </div>
        <div class="base-info">
            <label>前台姓名: &nbsp;</label><input id="person-name"class="inline margin-top-20" value="<%=info.userName%>" placeholder="请输入前台姓名" />
            <select id="location"class="padding-4" >
                <option>台安店</option>
                <option selected="selected">大连店</option>
                <option>沈阳店</option>
            </select><br>
            <label>前台手机号: &nbsp</label><input id="person-phoneNumber"class="inline margin-top-20" value="<%=info.phoneNumber%>" placeholder="请输入手机号码" />
            <!--<button id="apply-modify"class="btn btn-defalut padding-4" onclick="applyModify()">申请修改</button>-->

        </div>
        <br>
        <label>家庭地址 &nbsp;</label><input value="<%=info.userAddress%>" placeholder="请输入家庭信息">
    </div>
    <div class="panel-heading title-block">
        <h3 class="panel-title title-white">隐私信息</h3>
        <h3 id="applyId" class="panel-title right-button" onclick="applyId()">申请修改</h3>
    </div>
    <div class="margin-left-30" id="id">
        <h4>身份证号码:<%=info.cardNumber%></h4>
        <div class="image">
            <img src="/images/logo.png"/>
            <p>身份证正面</p>
        </div>
        <div class="image">
            <img src="/images/logo.png"/>
            <p>身份证背面</p>
        </div>
    </div>
    <div class="margin-left-30" style="display:none" id="id-edit">
        <div class="margin-10">
            <label>身份证号&nbsp</label><input value="123456789012345678"placeholder="请输入身份证号"/><br>
        </div>
        <div class="image">
            <input type="file" class="image-input"/>
            <p class="image-edit">编辑图片</p>
            <img src="/images/logo.png"/>
            <p>身份证正面</p>
        </div>
        <div class="image">
            <input type="file" class="image-input"/>
            <p class="image-edit">编辑图片</p>
            <img src="/images/logo.png"/>
            <p>身份证背面</p>
        </div>
    </div>
</div>
</div>
</body>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    function loginDialog(){
        location.href="joinReceptionDetail"
    }
    $("#navigation-person").addClass("select-left-button")
    var editFlag = true;
    var applyFlag = true;
    var applyIdFlag = true;
    function edit(){
        if(editFlag){
            editFlag = false;
            $("#edit").text("完成")
            $("#person-info").hide();
            $("#person-edit").show();
        }else{
            editInfo()
            editFlag = true;
            $("#edit").text("编辑")
            $("#person-info").show();
            $("#person-edit").hide();
        }
    }
    function applyModify() {
        if(applyFlag){
            applyFlag = false;
            $("#apply-modify").text("提交修改")
            $("#person-name").attr('disabled',false);
            $("#person-phoneNumber").attr('disabled',false);
        }else{
            applyFlag = true;
            $("#apply-modify").text("申请修改")
            $("#person-name").attr('disabled',true);
            $("#person-phoneNumber").attr('disabled',true);
        }
    }
    function applyId(){
        if(applyIdFlag){
            applyIdFlag = false;
            $("#applyId").text("提交申请");
            $("#id").hide();
            $("#id-edit").show();
        }else{
            applyIdFlag = true;
            $("#applyId").text("申请修改");
            $("#id").show();
            $("#id-edit").hide();
        }
    }
    function logout() {
        $.post("/user/logout",{},function (data) {
            location.href = "/"
        })
    }
    function editInfo(){
        var userName = $("#person-name").val();
        var phoneNumber = $("#person-phoneNumber").val();
        var obj = document.getElementById("location");
        var index = obj.selectedIndex;
        var location;
        if(index==0)
        {
            location="台安";
        }
        else if(index==1){
            location="大连";
        }
        else if(index==2){
            location="沈阳";
        }
        var data = {
            userName:userName,
            phoneNumber:phoneNumber,
            location:location
        }
        jQuery.post("./editInfo",data,function (ret) {
            console.log(JSON.stringify(ret));
        })
    }
</script>
</html>