<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/scroll-table.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .table>thead>tr>th{border:1px solid black !important;text-align: center}
        .table>tbody>tr>td{border:1px solid black !important;text-align: center}
        .table>tbody>tr>th{border:1px solid black !important;text-align: center}
        .width-700{width: 700px;margin:auto}
        .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{vertical-align: middle;}
        .width-15{width:12%}
        .content{padding:20px;}
    </style>
</head>
<body>
<div class="content">
    <button class="btn btn-default inline right" onclick="print()" style="margin-left:20px">打印</button>
    <button class="btn btn-default inline right" onclick="postCourse()">提交</button>
    <div class="width-700" style="margin-top:20px">
        <%var nowDate = date.split("-")%>
        <p id="month" class="center"><%=nowDate[0]%>年<%=nowDate[1]%>月<%=nowDate[2]%>日</p>
    </div>
    <div class="padding-scroll" id="home">
        <table class="table table-hover" style="margin-bottom:0px;">
            <thead>
                <tr>
                    <th>上课时间</th>
                    <th>课程名称</th>
                    <th>任课教师</th>
                    <th>教室信息</th>
                    <th>学生姓名</th>
                    <th>联系方式</th>
                    <th>签字确认</th>
                </tr>
            </thead>
            <tbody>
                <%print.forEach(function (item) {%>
                    <tr>
                    <th class="width-15"><%=item.beginTime%></th>
                    <th class="width-15"><%=item.courseName%></th>
                    <td class="width-15"><%=item.teacher%></td>
                    <td class="width-15"><%=item.room%></td>
                    <td class="width-15"><%=item.student%>
                    <%if(item.attend == 0){%>
                        <input type="checkbox" name="attend"></td>
                    <%}else{%>
                        <input type="checkbox" name="attend" checked></td>
                    <%}%>
                    <td class="width-15"><%=item.phoneNumber%></td>
                    <td class="width-15"></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/javascripts/divselect.js"></script>
<script>
function postCourse(){
    var data = JSON.parse('<%-JSON.stringify(print)%>')
    var change = []
    var checkList = $("input[name='attend']");
    for(var i=0;i<data.length;i++){
        if((data[i].attend == 0 && checkList[i].checked == true )|| data[i].attend == 1 && checkList[i].checked == false){
            if(checkList[i].checked){
                change.push({courseId:data[i].courseId,studentId:data[i].studentId,attend:1})
            }else{
                change.push({courseId:data[i].courseId,studentId:data[i].studentId,attend:0})
            }
        }
    }
    console.log("change:"+JSON.stringify(change))
    if(change.length == 0){
        alert("没有要提交的内容")
    }else{
        $.post("updateAttend",{"change":change},function (ret) {
            alert(ret)
            location.reload()
        })
    }
}
$("#person").text("前台姓名")
function loginDialog(){
    location.href="joinReceptionDetail"
}
$("#navigation-course").addClass("select-left-button");
</script>
</html>